/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
        /* signup page */
        .first-step .custom-select {
            height: 65px;
            padding: 0 70px;
            font-size: 12px;
        }
        .first-step, .next-step {    
            padding: 35px 30px;
        }
        .next-step .control-icon {    
            left: 7%;

        }
        .next-step .form-control{
            height: 65px;
        }
        .form-control::placeholder{
            font-size: 11px;
        }
        .next-step .form-control::placeholder{
            font-size: 12px;
        }
        /* login form */
        .welcome{
            min-height: 520px;
        }
        .login .form-control{
            padding: 28px 70px;
            height: 65px;
        }
        .welcome .btn{
            padding: 12px 34px;
        }
        .login .btn{
            padding: 12px 34px;
        }
        /* header section */
        .header .input-group {
            width: 100%;
        }
        .admin{
            margin: auto;
        }
         /* setup page */
        #setup .custom-select{
            font-size: 8px;
        }
        .sideMenu .logo a {
            font-size: 17px;
            font-weight: 600;
        }
        .menu li {
            padding: 15px 13px;        
        }
        #setup .button button:first-child, #setup .button button:last-child{
            width: 103px;
            height: 45px;
            font-size: 12px;
        }
        #setup .next-step .control-icon {
            left: 2%;
        }
        #setup .next-step .form-control {

            padding: 0 40px;
            height: 55px;
           
        }
        #setup .next-step .form-control::placeholder{
            font-size: 10px;
        }
        #setup .mt-4{
            margin: 0 !important;
        }
        #setup .first-icon {
            left: 16%;
        }
          /* add Docs */
          .addDoc p{
            font-size: 12px;
            text-align: center;
        }
        .addDoc .btn-primary{
            width: 125px;
            height: 45px;
            margin: auto;
            display: block;
        }
        .upload .addDoc{
            padding: 20px 20px;
        }
         /* table */
    #table .custom-select{
        width: 137px;
    }
    /* pagination */
    .page-link{
        padding: 10px 10px;
    }
    .pArea {
        width: 275px;
    }
    .table td {
        font-size: 12px;
        padding: 20px 0;
    }
      /* for dashboard */
      .box {
        margin-bottom: 25px;
    }
    .crossMargin {
        margin-left: 22% !important;
    }
    #dashboard .sideMenu {
        display: table;
    }
    button#menu-toggle {
        margin-bottom: 20px;
    }
    .box {
        width: 100%;
    }
    .chartArea {
        margin: auto;
    }
    .chartArea{
        margin-bottom: 25px;
    }
    .mt-5{
        margin-top: 0 !important;
    }

}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) {
      /* login form */
        .welcome{
            min-height: 520px;
        }
        .login .form-control{
            padding: 28px 53px;
            height: 65px;
        }
        .welcome .btn{
            padding: 12px 34px;
        }
        .login .btn{
            padding: 12px 34px;
        }
        .first-step .custom-select{
            font-size: 10px;
        }
	    /* signup page */
        .first-step, .next-step {    
            padding: 35px 30px;
        }
        .next-step .control-icon {    
            left: 7%;

        }
        /* header section */
        .header .input-group {
            width: 100%;
        }
        .admin{
            margin: auto;
        }
            /* setup page */
        #setup .next-step .form-control::placeholder{
            font-size: 12px;
        }
        #setup .custom-select{
            font-size: 10px;
        }
        #setup .button button:first-child {
            width: 145px;
        }
        #setup .button button:last-child {
            width: 165px;
            height: 50px
        }
        .sideMenu .logo a{
            font-size: 13px;
            margin-left: 21px;
        }
        .menu li {
            padding: 15px 40px;        
        }
        /* add Docs */
        .addDoc p{
            font-size: 12px;
        }
        .addDoc .btn-primary{
            width: 140px;
            height: 45px;
        }
         /* table */
    #table .custom-select{
        width: 137px;
    }
    .table td {
        font-size: 14px;
        padding: 25px 0;
    }
    /* pagination */
    .page-link{
        padding: 10px 18px;
    }
    .pArea {
        width: 385px;
    }
      /* for dashboard */
      .box {
        margin-bottom: 25px;
    }
    .crossMargin {
        margin-left: 0 !important;
    }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) { 
    .menu li {
        padding: 20px 50px;
    }
    /* login page */
    .login{
        padding: 48px 20px;
    }
    .wlcm-content {
        padding: 135px 0;
    }
    .welcome{
        min-height: 475px;
    }
    .welcome .btn{
        padding: 12px 34px;
    }
    .login .btn{
        padding: 12px 34px;
    }
    .login .form-control{
        padding: 28px 53px;
        height: 65px;
    }
    .form-control::placeholder{
        font-size: 12px;
    }
    .welcome p {
        font-size: 14px;
    }
    .login .form-icon{
        margin-left: 12px;
    }
    /* signup page */
    .next-step .control-icon{
        left: 5%;
    }
    .first-step, .next-step{
        padding: 60px 100px;
    }
    .next-step .form-control{
        padding: 0px 70px;
    }
    .next-step .first-icon{
        left: 12%;
    }
    /* header section */
    .header .input-group {
        width: 100%;
    }
    .header .form-control {
        padding: 0 30px;
    }
    .admin {
        margin-left: 18%;
    }
     /* ===========
    setup page 
    ============ */
    #setup .next-step .form-control::placeholder{
        font-size: 12px;
    }
    #setup .custom-select{
        font-size: 10px;
    }
    #setup .button button:first-child {
        width: 145px;
    }
    #setup .button button:last-child {
        width: 165px;
        height: 50px
    }
     /* table */
     #table .custom-select{
        width: 137px;
    }
    .table td {
        font-size: 14px;
        padding: 25px 0;
    }
    /* for dashboard */
    .box {
        margin-bottom: 25px;
    }
    .crossMargin {
        margin-left: 0 !important;
    }
    .chartArea {
        margin-bottom: 30px;
    }
    .mt-5{
        margin-top: 0 !important;
    }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) { 
    /* login */
    #login .row{
        position: relative;
    }
    .login {
        position: absolute;
        right: -18%;
        top: 12%;
        z-index: 99;
        width: 100%;
    }
    .form-control::placeholder{
        font-size: 12px;
    }
    /* header */
    .admin {
        margin-left: 35%;
    }
    /* table */
    #table .custom-select{
        width: 137px;
    }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
     /* login */
     #login .row{
        position: relative;
    }
    .login {
        position: absolute;
        right: -18%;
        top: 12%;
        z-index: 99;
        width: 100%;
    }
}